<form action="~/Account/Login/" method="post">
    <div class="row">
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Kullanıcı adı</h5>
                <input type="text" name="TeamFullName" class="input">
            </div>
        </div>
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <h5>Şifre</h5>
                <input type="password" name="TeamPassword" class="input">
            </div>
        </div>
        <input type="submit" class="btn" value="GİRİŞ">
    </div>
</form>


