
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/web/scripts/aboutus.css" type="text/css" />
</head>
<body>
    <section>
        <div class="about-section">
            <div class="inner-container">
                <h1>Hakkımızda</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
                </p>
                <div class="skills">
                    <span>Son dakika haberler</span>
                    <span>Teknoloji & Bilim</span>
                    <span>Uzay & Siyaset & Hayat</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>