
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>ADMİN PANEL</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menüler</h3>
        <p class="w3-bar-item w3-hover-text-grey" style="font-size:15px; font-family:'Montserrat'">Hoşgeldiniz, @Session["kullanici"].ToString()</p>
        <a href="/Admin/Index/" class="w3-bar-item w3-button">HABERLER</a>
        <a href="/Admin/ComingNews/" class="w3-bar-item w3-button">EKLENECEK HABERLER</a>
        <a href="/Admin/YorumListesi/" class="w3-bar-item w3-button">YORUMLAR</a>
        <a href="/Admin/Iletisim" class="w3-bar-item w3-button">İLETİŞİM</a>
        <a href="/Admin/Kullanici" class="w3-bar-item w3-button">KULLANICILAR</a>
        <a href="/Home/Index/" class="w3-bar-item w3-button">ANASAYFA'YA DÖN</a>
        <a href="/GirisYap/LogOut/" class="w3-bar-item w3-button">ÇIKIŞ YAP</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h4>Admin Paneli</h4>
        </div>



        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>