<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haberapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Haber Portal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaberApp">
        <activity android:name=".iletisim" android:parentActivityName=".AnasayfaActivity"></activity>
        <activity android:name=".hakkimizda" android:parentActivityName=".AnasayfaActivity"></activity>
        <activity
            android:name=".polis"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".benzin"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".youtube"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".windows"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".tinder"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".isvicre"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".volkswagen"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".koronavirus"
            android:parentActivityName=".AnasayfaActivity" />
        <activity
            android:name=".KullanimActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnasayfaActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LauncherActivity" />
    </application>

</manifest>