/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shippori Mincho', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Julius Sans One', sans-serif;

 */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background: #812121;
}

:root {
    --heading: 'Quicksand', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #fff;
    overflow: hidden;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #812121;
        color: #252525;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-family: 'Montserrat';
    }


        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #812121 transparent transparent transparent;
        }


    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #812121;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #D2D2D2;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.searchButton {
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'exo';
    color: #343030;
    padding: 0 15px;
    background: #252525;
    border: 1px solid rgba(155,155,155,0.2);
    cursor: pointer;
    font-size: 15px;
    float: right;
    height: 40px;
    color: #fff;
    border-radius: 2px;
    transition: all .4s ease-in-out;
    outline: none;
}

    .searchButton:hover {
        background: #812121;
        color: #fff;
    }
/* global styling */

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    width: 95vw;
    margin: 0 auto;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #252525;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    display: none;
    color: white;
    transition: .2s ease-in-out;
}
.gotopbtn i {
    margin-top:10px;
}
    .gotopbtn:hover {
        color: #252525;
        background: #812121;
    }

/* header */


.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

    .top-head .fas {
        font-size: 2rem;
        cursor: pointer;
    }

.hot-topic figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hot-topic figure:hover img {
    opacity: .5;
}

.main-container-left figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.main-container-left figure:hover img {
    opacity: .5;
}


.web-name p {
    color: #770000;
}

.top-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

    .top-top .fas {
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }

.information p {
    text-align: center;
    align-self: center;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 1300px;
}

.information-2 p {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

#log {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
    transition: .3s all ease;
}

    #log:hover {
        color: #812121;
    }

/******* js related styling *****/

.times-btn {
    display: none;
}

.nav-bar {
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav {
    height: auto;
}





.nav-bar ul li {
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}



    .nav-bar ul li a {
        color: #fff;
        text-transform: uppercase;
        transition: all .2s ease;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }



        .nav-bar ul li a span i {
            font-family: 'Montserrat';
        }

        .nav-bar ul li a:hover {
            color: #812121;
        }



/* social -icons */

.social-icons {
    display: none;
}

    .social-icons ul li a i {
        transition: all .3s ease;
    }

        .social-icons ul li a i:hover {
            color: #8F8F8F;
        }


/* banner */

.banner {
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-main-content {
    padding: 0 2rem;
    line-height: 1.7;
}

    .banner-main-content h2 {
        font-size: 2rem;
        font-family: var(--heading);
    }

    .banner-main-content h3 {
        padding: 1rem 0;
    }

    .banner-main-content button {
        border: none;
        background: #252525;
        padding: 14px 18px;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        transition: background 1s ease;
    }

        .banner-main-content button a {
            color: #f3f3f3f3;
            transition: color 1s ease;
        }

        .banner-main-content button:hover {
            background: #fff;
        }

            .banner-main-content button:hover a {
                color: #0d0a0b;
            }


.current-news-head {
    background: #fff;
    padding: 20px;
    font-size: 12px;
    margin: 20px 0;
}

    .current-news-head h3 {
        padding: 6px;
        cursor: pointer;
        position: relative;
    }

        .current-news-head h3:hover::before {
            content: ">> ";
            position: absolute;
            left: -12px;
        }

    .current-news-head span {
        display: block;
        font-family: var(--heading);
        font-weight: 300;
        text-transform: uppercase;
    }

.hot-topic {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}


    .hot-topic img {
        display: block;
    }

.hot-topic-content {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color: #f3f3f3;
}

.hot-topic h2 {
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 2px #000;
}

.hot-topic h3 {
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.hot-topic p {
    padding: 10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding: 12px 10px;
}

.hot-topic-content a {
    display: block;
    background: #f3f3f3;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}

    .hot-topic-content a:hover {
        text-decoration: underline;
    }

/* main */

.haberalani a {
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
    margin-left: 500px;
    border-bottom: 1px solid #252525;
    width: 800px;
}

.haberalani span {
    transition: padding-left 0.5s;
}

.haberalani a:hover span {
    padding-left: 5px;
}

.haberalani a:hover {
    color: #812121;
}

/* main container left */

.main-container-left {
    padding: 30px 10px;
}

    .main-container-left > h2 {
        padding: 15px 0 15px 30px;
    }

    .main-container-left h3 {
        padding: 10px 0;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }

    .main-container-left p {
        font-size: 15px;
        font-weight: 300;
    }

    .main-container-left article {
        padding: 10px;
    }

.container-top-left {
    padding: 15px 30px;
}

.container-bottom-left {
    background: #f3f3f3;
    margin: 15px 30px;
}

/*** main container right */

.main-container-right {
    padding: 30px 10px;
}

    .main-container-right > h2 {
        padding: 15px 0 15px 30px;
    }

    .main-container-right article {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 15px 0;
        border-bottom: 1px solid #812121;
    }

        .main-container-right article:last-child {
            border-bottom: none;
        }

    .main-container-right img {
        width: 100px;
        height: 100px;
        align-self: center;
    }

    .main-container-right h4 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        align-self: center;
    }

    .main-container-right article h2 {
        font-size: 18px;
        padding: 10px 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main-container-right article p {
        font-size: 15px;
        font-weight: 300;
    }

    .main-container-right article div {
        margin-right: 10px;
    }

/**** footer ****/

footer {
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

    footer h2 {
        padding: 10px 0;
        font-family: 'Exo', sans-serif;
    }

    footer p {
        padding: 10px 0;
        line-height: 1.3;
        font-family: 'Montserrat', sans-serif;
    }

.footer-left, .footer-right {
    margin: 0 20px;
}

footer > p {
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
    font-family: 'Julius Sans One', sans-serif;
}


.footer-container a {
    font-size: 12px;
    font-family: 'Exo', sans-serif;
    color: #fff;
    padding-right: 10px;
    text-decoration: none;
}

.footer-container i {
    font-size: 12px;
    color: #fff;
}



.footer-right div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}

/* arama kutusu */

form#searchbox {
    display: flex;
    height: 40px;
    background: #252525;
    min-width: 300px !important;
    border: 1px solid rgba(155,155,155,0.2);
    float: right;
}

    form#searchbox .search-data {
        height: 40px;
        width: 250px;
        padding: 0 10px;
        color: #fff;
        font-weight: 500;
        background: none;
        border: none;
        font-family: "Quicksand", sans-serif;
        outline: none;
    }

    form#searchbox button#searchbutt {
        padding: 0 15px;
        background: #252525;
        border: none;
        cursor: pointer;
        font-size: 17px;
        color: #fff;
        border-radius: 2px;
        transition: all .4s ease-in-out;
        outline: none;
    }

        form#searchbox button#searchbutt:hover {
            background: #770000;
        }

.emailulas {
    background: #252525;
    border: none;
    cursor: pointer;
    outline: none;
}

.i i {
    transition: .1s all ease;
}

    .i i:hover {
        color: #812121;
    }

@media(max-width: 460px) {
    .hot-topic-content h2 {
        font-size: 16px;
    }

    .main-container-right article {
        display: block;
    }

        .main-container-right article img {
            display: none;
        }

    .aramainput {
        height: 20px;
        width: 100px;
        padding: 0 10px;
        color: #fff;
        font-weight: 500;
        background: none;
        border: none;
        font-family: 'Quicksand', sans-serif;
        height: 40px;
        background: #252525;
        min-width: 200px !important;
        border: 1px solid rgba(155,155,155,0.2);
        float: left;
        outline: none;
    }

    .searchButton {
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Ubuntu';
        color: #343030;
        padding: 0 15px;
        background: #252525;
        border: 1px solid rgba(155,155,155,0.2);
        cursor: pointer;
        font-size: 15px;
        float: right;
        height: 40px;
        color: #fff;
        border-radius: 2px;
        transition: all .4s ease-in-out;
        outline: none;
    }

        .searchButton:hover {
            background: #812121;
            color: #fff;
        }
}

@media(max-width: 500px) {
    .main-container-right article {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .aramainput {
        height: 20px;
        width: 100px;
        padding: 0 10px;
        color: #fff;
        font-weight: 500;
        background: none;
        border: none;
        font-family: 'Quicksand', sans-serif;
        height: 40px;
        background: #252525;
        min-width: 200px !important;
        border: 1px solid rgba(155,155,155,0.2);
        float: left;
        outline: none;
    }

    .main-container-right article h4 {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right article img {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main-container-right article div {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .searchButton {
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Ubuntu';
        color: #343030;
        padding: 0 15px;
        background: #252525;
        border: 1px solid rgba(155,155,155,0.2);
        cursor: pointer;
        font-size: 15px;
        float: right;
        height: 40px;
        color: #fff;
        border-radius: 2px;
        transition: all .4s ease-in-out;
        outline: none;
    }

        .searchButton:hover {
            background: #812121;
            color: #fff;
        }
}

@media(min-width: 768px) {
    .banner-sub-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .aramainput {
        height: 20px;
        width: 100px;
        padding: 0 10px;
        color: #fff;
        font-weight: 500;
        background: none;
        border: none;
        font-family: 'Quicksand', sans-serif;
        height: 40px;
        background: #252525;
        min-width: 200px !important;
        border: 1px solid rgba(155,155,155,0.2);
        float: left;
        outline: none;
    }

    .container-bottom-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .searchButton:hover {
        background: #812121;
        color: #fff;
    }
}

@media(min-width: 800px) {
    /* nav */
    .ham-btn, .times-btn {
        display: none !important;
    }


    .navigation-container {
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head {
        flex: 0 0 15%;
    }

    .nav-bar {
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

        .nav-bar nav ul {
            display: flex;
            justify-content: center;
        }

            .nav-bar nav ul li {
                padding-right: 30px;
            }

                .nav-bar nav ul li:hover {
                    background: none;
                }

        .nav-bar form#searchbox .search-data {
            display: flex;
            justify-content: center;
        }

        .nav-bar button {
            padding-right: 30px;
        }
    /* social icons */
    .social-icons {
        flex: 0 1 10%;
        display: block;
        margin: 0 auto;
    }


    .linkButtonLogOut {
        color: #fff;
        transition: .3s ease-in-out;
    }

        .linkButtonLogOut:hover {
            color: #812121;
            text-decoration: underline;
        }

    .iletisim {
        color: #fff;
        transition: .2s ease;
    }

        .iletisim:hover {
            color: #812121;
        }

    .social-icons .fab {
        color: #fff;
        font-size: 1rem;
    }

    .social-icons ul {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

        .social-icons ul li {
            padding: 20px;
        }

    .footer-container {
        display: flex;
    }

    .footer-right, .footer-left {
        flex: 1;
    }
}

@media(min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px) {
    .banner {
        grid-template-columns: 1fr 2fr;
    }
}


@media(max-width:1080px) {
    .top-info-class {
        display: none;
    }

    .information-2 {
        display: none;
    }

    .web-name img {
        width: 250px;
        height: 100px;
        margin-left: 50px;
    }
}

.haber {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: block;
}

.haberalani p {
    display: block;
    width: 800px;
    padding: 10px 0;
    letter-spacing: 0.5px;
    line-height: 1.8;
    font-weight: 100;
    margin-left: 500px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.haberalani img {
    width: 800px;
    height: 500px;
    display: flex;
    padding: 10px 0px;
    margin-left: 500px;
}

.haberalani h6 {
    width: 800px;
    line-height: 1.3;
    letter-spacing: .5px;
    padding: 10px 0px;
    margin-left: 500px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}



.tarihsaat p {
    display: block;
    width: 800px;
    margin-left: 500px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-weight: 400;
}

.reklamalani {
    float: left;
    width: 300px;
    display: grid;
    padding: 30px 10px;
    margin-top: 250px;
    grid-template-columns: 1fr 3fr 1fr;
}

    .reklamalani img#reklam {
        width: 300px;
        height: 1260px;
        float: left;
        padding: 30px 10px;
        border-right: 1px solid #252525;
    }


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}


    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;

            background-color: #ffffff;
            border: 1px solid #dddddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            background-color: #eeeeee;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        cursor: default;
        background-color: #812121;
        border-color: #812121;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
        border-color: #dddddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}


    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager li {
        display: inline;
    }

        .pager li > a,
        .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 15px;
        }

            .pager li > a:hover,
            .pager li > a:focus {
                text-decoration: none;
                background-color: #eeeeee;
            }

    .pager .next > a,
    .pager .next > span {
        float: right;
    }

    .pager .previous > a,
    .pager .previous > span {
        float: left;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
    }

.pagination-container {
    text-align: center;
}



