@model odevmvc.Models.Classes.admin
@{
    ViewBag.Title = "addAccount";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="title-page">Admin hesabı ekle</h2>

<br />
<form method="post" class="form-group">
    <label>KULLANICI ADI</label>
    @Html.TextBoxFor(x => x.User, new { @class = "form-control" })
    <br />
    <label>ŞİFRE</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-success">HESAP EKLE</button>

</form>